.main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 288%;
    flex: 1;
    background-color: white;
    min-height: 100vh;
}

.main.dark{
    background-color: black;
    color: white;
}