.nav{
    position:relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color .2s ease;
}

.nav:hover{
    background-color: orangered;
}

h2{
    align-items: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.navigation.active h2{
    display: none;
}

.icon{
    font-size: 20px;
}