.navigation{
    position: sticky;
    top:0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    color: white;
    background: #3D39F2;
    padding: 5px 10px;
    overflow: hidden;
}
.navigation.active{
    width: max-content;
}

.navigation.menu{
    position: absolute;
    right: 10px;
    top: 0;
    margin-left: auto;
    font-size: 18px;
    height: 35px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.navigation.active.menu{
    position: relative;

}

.navigation header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px 0 15px;
    background-color: #2925DE;
    border-radius: 14px;
    margin-bottom: 10px;
}

.navigation header::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 80%;
    background-color: rgb(255, 255, 255, 0.356);
    bottom: 0;
}

.navigation header .profile{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: lightgray;
}

.profile-img{
    height: 100%;
    aspect-ratio:1;
    border-radius: 50%;
    object-fit: cover;
}


.navigation header span{
    font-size: 15px;
}

.navigation.divider{
    position: relative;
    margin: 0 auto;
    height: 1px;
    width: 80%;
    background-color: orangered;
}

.navigation.bg-waves{

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.3;
}

.navigation.menu.active{
    rotate: 180deg;

}

.navigation.active header{
    padding: 0;
    margin-top: 10 px;
    background-color: transparent;
}

.navigation.active head::after, .navigation.active header span{
    display: none;

}

.navigation.active header .profile{
    height: 40px;
}