.content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,24%);
    grid-gap: 10px;
    padding: 10px;
}

.content .row{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#2925DE, #b325de) ;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2 ease;
}

.content .row:hover{
    scale: 0.99;
}

.content .row.header{
    height: 100px;
}

.content .row.header:nth-child(1){
    grid-column: span 2;
}

.content .row.header:nth-child(2){
    grid-column: span 2;
}

.content .row .cog{
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: grab;
    color: white;
}

.content .row.header .txt-head {
    position: relative;
    color: rgba(255, 255, 255, 0.877);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}

.content .row.header .divider{
    height: 1px;
    width: 35%;
    background-color: rgba(255, 255, 255, 0.514);
    margin: 10px 0;
}

.content .row.header .notifications{
    display: flex;
    padding: 10 px 16px;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 50px;
    gap: 15px;
    color: white;
}

.content .section-title{
    color: rgba(255, 255, 255, 0.24);
    font-size: 14px;
    grid-column: span 4;
    margin-left: 5;
}

.content .row.square{
    aspect-ratio: 1;
    --clr-i: #00464e;
    --clr-ii: #810551;


}

.content .row.square::after{
    position: absolute;
    content: "";
    height: calc(100% - 4px);
    aspect-ratio: 1;
    border-radius: 8px;
    background-color: #e4e4e4;

}

.content.dark .row.square::after{
    background-color: #111;
    color: white;
}