.content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,24%);
    grid-gap: 10px;
    padding: 10px;
}

.content .row{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#2925DE, #b325de) ;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2 ease;
}

.content .row:hover{
    scale: 0.99;
}

.content .row.header{
    height: 100px;
}

.content .row.header:nth-child(1){
    grid-column: span 2;
}

.content .row.header:nth-child(2){
    grid-column: span 2;
}

.content .row .cog{
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: grab;
    color: white;
}

.content .row.header .txt-head {
    position: relative;
    color: rgba(255, 255, 255, 0.877);
    font-size: 16px;
    font-family: raleway;
    font-weight: 400;
}

.content .row.header .divider{
    height: 1px;
    width: 35%;
    background-color: rgba(255, 255, 255, 0.514);
    margin: 10px 0;
}