.button{
    background-color: #2925de;
    
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 40px;
    display: inline-block;
   }
   a.my-button:hover{
    background-color: #5a58e2;
   }
   a.my-button:active{
    transform: scale(0.95);
   }